@model IEnumerable<ProjectTest.Models.Allocate_Class_Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACourse.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARoom.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACourse.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARoom.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Allocate_Class_RoomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Allocate_Class_RoomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Allocate_Class_RoomID })
        </td>
    </tr>
}

</table>
